<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crie seu cadastro</title>
</head>
<body>
    
    <h2>Cadastre-se</h2>
    
    <div class="container">

        <form action="/Usuarios" method="post">

            <div>
                <!-- <label th:for="nome">Nome:</label> -->
            <input type="text" name="nome">
                <!-- <input type="text" th:field="*{nome}" placeholder="Seu nome" required="required"> -->
            </div>
            
            <div>
                <!-- <label th:for="email">E-mail:</label>
                <input type="text" th:field="*{email}" placeholder="Seu e-mail" required="required"> -->
            </div>
            
            <div>
                <!-- <label th:for="telefone">Telefone:</label>
                <input type="text" th:field="*{telefone}" placeholder="Seu numero" required="required"> -->
            </div>
    
            <div>
                <!-- <label th:for="senha">Senha:</label>
                <input type="text" th:field="*{senha}" placeholder="Digite sua senha aqui" required="required"> -->
            </div>
            
            <div>
                <!-- <label th:for="confirma_senha">Confirmar senha:</label>
                <input type="text" th:field="*{senha}" placeholder="Digite a senha novamente" required="required"> -->
            </div>
            
            <div>
                <!-- <label>Confirmo que os dados são verdadeiros</label>
                <input type="checkbox" th:field="*{according}" required="required"> -->
            </div>
            
            <button type="submit">Enviar</button>
            
        </form>

    </div>
    
    
</body>
</html>