<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="content">
        <div class="container">
            <h2>Cadastro</h2>
            <form action="/Usuarios" method="post">
                <input type="text" name="nome" placeholder="Nome" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="tel" name="telefone" placeholder="Telefone" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <button type="submit">Cadastre</button>
            </form>
        </div>
        <p class="login-link">Já possui um login? <a href="login-usu.html">Faça login aqui</a></p>
    </div>
</body>
</html>
