<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Entrar</title>
    <link rel="stylesheet" href="styleLogin.css">
</head>
<body>

    <nav id="menu">

        <ul>

            <li><a href="/bem-vindo">Home</a></li>
            <li><a href="Produtos.html">Produtos e serviços</a></li>
            <li><a href="Solicitacoes.html">Solicitações</a></li>
            <li><a href="Sobre.html">Sobre</a></li>
            <li><a href="#">Criar cadastro</a></li>
    
        </ul>

    </nav>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Login</h2>
    </div>

    <!-- Login Form -->
    <form method="post">
        <div class="form-group">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
        </div>

        <div class="form-group">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
        </div>

        <div class="cadastro">
            <p>Não tem cadastro? Clique aqui.</p>
        </div>

      <button type="submit" class="btn btn-primary">Entrar</button>
      
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
    
</body>
</html>